:host {
  width: 100%;
}
.search__content {
  display: flex;
}

.search__wrapper {
  max-width: 500px;
  width: 100%;
  margin-right: var(--space-s);
  position: relative;
}

.search__input {
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  padding: var(--space-s);
  border-radius: var(--border-radius);
  border: 1px solid rgba(0,0,0,0.15);
}

.search__btn {
  background: var(--button-bg-color-primary);
}

.search__btn:disabled {
  background: var(--button-bg-color-secondary);
}
