:host {
  height: 100px;
  background: var(--bg-color-accent);
}

.header__content {
  margin: auto;
  max-width: var(--max-content-width);
  height: 100%;
  display: flex;
  align-items: center;
  /*padding: var(--space-l);*/
}
